@model RakipBul.Models.RegisterDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Maç Editörü Oluştur";
}

<div class="max-w-md mx-auto mt-8 p-6 bg-gray-100 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-center text-gray-700 mb-6">@ViewData["Title"]</h2>

    <form asp-action="CreateAnnouncer" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-red-600 text-sm mb-4"></div>
        <input type="hidden" asp-for="CityID" /> 

        <div class="mb-4">
            <label asp-for="Firstname" class="block text-gray-700 text-sm font-bold mb-2">Ad</label>
            <input asp-for="Firstname" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            <span asp-validation-for="Firstname" class="text-red-600 text-xs italic"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Lastname" class="block text-gray-700 text-sm font-bold mb-2">Soyad</label>
            <input asp-for="Lastname" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            <span asp-validation-for="Lastname" class="text-red-600 text-xs italic"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input asp-for="Email" type="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            <span asp-validation-for="Email" class="text-red-600 text-xs italic"></span>
        </div>

        <div class="mb-6">
            <label asp-for="Password" class="block text-gray-700 text-sm font-bold mb-2">Şifre</label>
            <input asp-for="Password" type="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" />
            <span asp-validation-for="Password" class="text-red-600 text-xs italic"></span>
            <p class="text-xs text-gray-500 italic">Şifre en az 6 karakter olmalıdır.</p>
        </div> 

        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Maç Editörü Oluştur
            </button>
             <a asp-action="Create" asp-controller="City" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                İptal / Şehir Listesi
            </a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}